<div class="contact_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-end">
            <div class="contact_info_content">
              <div class="contact_info_title">פלאפון</div>
              <div class="contact_info_text">050-6212249</div>
            </div>
            <div class="contact_info_image"><img src="https://img.icons8.com/office/24/000000/iphone.png" alt=""></div>
          </div>

          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-end">
            <div class="contact_info_content">
              <div class="contact_info_title">אמייל</div>
              <div class="contact_info_text">dafnaed@gmail.com</div>
            </div>
            <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png" alt=""></div>
          </div>

          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-end">
            <div class="contact_info_content">
              <div class="contact_info_title">כתובת</div>
              <div class="contact_info_text">מבשרת ציון, ירשלים</div>
            </div>
            <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/map-marker.png" alt=""></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Form -->

<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="contact_form_container">
          <div class="contact_form_title">צור קשר</div>

          <form action="#" id="contact_form">
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="אמייל (אופציונלי)">
              <input type="text" id="contact_form_phone" class="contact_form_phone input_field" required="required" data-error="צריך להכניס מספר טלפון" placeholder="מספר טלפון">
              <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="שם" required="required" data-error="צריך להכניס שם">
            </div>
            <div class="contact_form_text">
              <textarea id="contact_form_message" class="text_field contact_form_message text-right" name="message" rows="4" placeholder="הודעה" required="required" data-error="Please, write us a message."></textarea>
            </div>
            <div class="contact_form_button">
              <button type="submit" class="button contact_submit_button">שלח</button>
            </div>
            <br>
            <br>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
