<article class="postcard dark blue">
  <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>
  <div class="postcard__text text-right">
    <h1 class="postcard__title blue"><a href="#">{{course.name}}</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>יום חמישי, 25 למאי 2022
      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">{{course.description}}</div>
    <ul class="postcard__tagbox">
      <li class="tag__item justify-right"><i class="fas fa-tag mr-2"></i>{{course.participants}}</li>
      <li class="tag__item justify-right"><i class="fas fa-clock mr-2"></i>{{course.time}}</li>
    </ul>
  </div>
</article>
