<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity=
          "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" position="end">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">דפנה עין דור</h4>
    <p class="designation">נקודות אור לחיים</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <span>בית</span>
      <mat-icon>home</mat-icon>

    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <span>מוצרים</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <span>צור קשר</span>
      <mat-icon>info</mat-icon>
    </button>

    <!--    <mat-divider></mat-divider>-->

  </mat-sidenav>
  <mat-sidenav-content>
    <button class="top-button" style="float: right; background: #004a9f; color: white"
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</body>
</html>
